@model IEnumerable<HappyThoughts.Web.ViewModels.Categories.CategoryInfoViewModel>

@{
    ViewData["Title"] = "All Categories";
}

<h2 class="text-center">All Categories</h2>

<hr />

<div class="row">
    @foreach (var category in Model)
    {
        <div class="col-md-4 text-center">
            <a href="/Categories/ByName?name=@category.Name">
                <div class="card list-group-item-action" style="width: 18rem;">
                    <img class="card-img-top" src="@category.PictureUrl" alt="@category.Name">
                    <div class="card-body">
                        <p class="card-text">@category.Name</p>
                    </div>
                </div>
            </a>

        </div>
    }
</div>
