<div class="accordion" id="accordionExample">
    <div class="card">
        <h4 class="card-header text-center">Rules:</h4>
        <div class="card-header text-center" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link text-dark" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    1. Respect all members of this forum!
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Occasionally, conflicts may arise when people voice opinions. Be courteous when disagreeing with others.
                Disrespectful behavior such as harassing, profanity, abusive language, personal attacks, trolling, flaming,
                racial, religious, ethnic, sexual slurs, or similar behavior/language is forbidden!
                <br />
                <br />
                If a thread is in violation of the forum rules, please notify an administrator.
                <br />
                <br />
                <h6>Just try to get along :)</h6>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2. Please Contribute
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                If you use the forum, it would be great if everyone works together and contributes actively to the forum to keep it active.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed text-dark" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3. Forbidden activity:
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <ol>
                    <li>Spam / advertising. you can only advertise with the permission of an ADMINISTRATOR !</li>
                    <li>Creating posts just to up your post count / bumping posts to keep them near the top.</li>
                    <li>Cross posting the same topic to different sections.</li>
                    <li>Do not create posts to aggressively "lobby" or "petition" for features, changes, additions or other issues!</li>
                    <li>Rants and constant non-constructive comments.</li>
                    <li>Publicly disclosing private messages between you and forum administrators without consent.</li>
                    <li>Threatening and combative language</li>
                    <li>Do not post about forum exploits, instead notify an administrator.</li>
                    <li>Impersonating another forum user or administrator.</li>
                    <li>Trying to exploit the security of this forum. if you know of any bugs, contact the admin instead.</li>
                    <li>Illegal Activities that break (inter)national laws</li>
                </ol>
            </div>
        </div>
    </div>
</div>