@using HappyThoughts.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!-- Side Widget -->
@if (!this.SignInManager.IsSignedIn(this.User))
{
    <div class="card my-4 text-center">
        <h5 class="card-header">Why are you still waiting?</h5>
        <div class="card-body">
            Aren't you tired of working in boring plazas? Relieve your stress, share your stories.
            <br />
            <br />
            <div class="text-center">
                <a href="/Identity/Account/Login" class="btn btn-primary" role="button" aria-pressed="true">Login</a>
                <a href="/Identity/Account/Register" class="btn btn-primary" role="button" aria-pressed="true">Register</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="card my-4">
        <h5 class="card-header">Why are you still waiting?</h5>
        <div class="card-body">
            HappyThoughts is love to the unknown, gather your courage, share your love!
            <br />
            <br />
            <div class="text-center">
                <a href="/Topics/Create" class="btn btn-primary" role="button" aria-pressed="true">Create Topic</a>
            </div>
        </div>
    </div>
}
