<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
</head>

<body>

    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1><span>B</span><span>A</span><span>N</span><span>N</span><span>E</span><span>D</span></h1>
            </div>
            <h2>To post anything you have to be unbanned first! Contact to an admin/moderator if there is any confusion and you dont know why you are banned.</h2>
            <br />
            <a href="/Home/Index">Back To Homepage</a>
        </div>
    </div>

</body>
